<!doctype html>
<html lang="en">
  <head>
    <style>
      .map {
        height: 550px;
        width: 60%;
        border: 1px solid lightgray;
      }
    </style>
    <title>OpenLayers 3 example</title>
  </head>
  <body>
    <h2>My Map</h2>
    <div id="map" class="map"></div>
  </body>
</html>
